<% if can? :manage, reward %>
	<div class="text-right">
		<%= link_to 'Edit', edit_project_reward_path(@project,reward) %> | 
		<%= link_to 'Delete', project_reward_path(@project,reward), method: :delete, data: {confirm: "Are you sure?"} %>
	</div>
<% end %>
<%= link_to new_project_pledge_path(@project,reward: reward.id), class: "reward" do %>
	<div>
		<p><strong>Pledge $<%= reward.value %> or more</strong></p>
		<p class="backers"><strong>3 backers</strong></p><br>
		<p><%= reward.name %></p><br>
		<p><%= reward.description %></p><br>
		<p><strong>Estimated delivery:</strong> <%= reward.estimated_delivery %></p>
	</div>
<% end %>